<%= title @title %>
<%= render :partial => "/layouts/lentil/top_navigation" %>
<section id="about" class="wrapper">
    <div class="grid">
        <div class="well contribute grid__cell">
        Create the file app/views/lentil/pages/about.html.erb and fill it with whatever you want.
        </div>
    </div>
</section>
