---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/oembed?format=json&url=http://instagram.com/p/R82ycNoNfn/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Language:
      - en
      Location:
      - https://api.instagram.com/publicapi/oembed/?url=http%3A%2F%2Finstagram.com%2Fp%2FR82ycNoNfn%2F&format=json
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 15:57:20 GMT
- request:
    method: get
    uri: https://api.instagram.com/publicapi/oembed/?format=json&url=http://instagram.com/p/R82ycNoNfn/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Language:
      - en
      Location:
      - https://www.instagram.com/publicapi/oembed/?url=http://instagram.com/p/R82ycNoNfn/&format=json
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 15:57:20 GMT
- request:
    method: get
    uri: https://www.instagram.com/publicapi/oembed/?format=json&url=http://instagram.com/p/R82ycNoNfn/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Language:
      - en
      Location:
      - https://api.instagram.com/oembed/?url=http://instagram.com/p/R82ycNoNfn/&format=json
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 15:57:20 GMT
- request:
    method: get
    uri: https://api.instagram.com/oembed/?format=json&url=http://instagram.com/p/R82ycNoNfn/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"provider_url": "https://www.instagram.com", "media_id": "323374234042685415_31727100",
        "author_name": "cazzerson", "height": null, "thumbnail_url": "https://scontent.cdninstagram.com/t51.2885-15/e15/11252220_1411773395811325_706977877_n.jpg?ig_cache_key=MzIzMzc0MjM0MDQyNjg1NDE1.2",
        "thumbnail_width": 612, "thumbnail_height": 612, "provider_name": "Instagram",
        "title": "Bubble bubble...", "html": "\u003cblockquote class=\"instagram-media\"
        data-instgrm-captioned data-instgrm-version=\"6\" style=\" background:#FFF;
        border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px
        0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%;
        width:-webkit-calc(100% - 2px); width:calc(100% - 2px);\"\u003e\u003cdiv style=\"padding:8px;\"\u003e
        \u003cdiv style=\" background:#F8F8F8; line-height:0; margin-top:40px; padding:50%
        0; text-align:center; width:100%;\"\u003e \u003cdiv style=\" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC);
        display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px;
        width:44px;\"\u003e\u003c/div\u003e\u003c/div\u003e \u003cp style=\" margin:8px
        0 0 0; padding:0 4px;\"\u003e \u003ca href=\"https://www.instagram.com/p/R82ycNoNfn/\"
        style=\" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal;
        font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;\"
        target=\"_blank\"\u003eBubble bubble...\u003c/a\u003e\u003c/p\u003e \u003cp
        style=\" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px;
        margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center;
        text-overflow:ellipsis; white-space:nowrap;\"\u003eA photo posted by @cazzerson
        on \u003ctime style=\" font-family:Arial,sans-serif; font-size:14px; line-height:17px;\"
        datetime=\"2012-11-13T01:13:54+00:00\"\u003eNov 12, 2012 at 5:13pm PST\u003c/time\u003e\u003c/p\u003e\u003c/div\u003e\u003c/blockquote\u003e\n\u003cscript
        async defer src=\"//platform.instagram.com/en_US/embeds.js\"\u003e\u003c/script\u003e",
        "width": 658, "version": "1.0", "author_url": "https://www.instagram.com/cazzerson",
        "author_id": 31727100, "type": "rich"}'
  recorded_at: Tue, 10 May 2016 15:57:21 GMT
- request:
    method: get
    uri: https://api.instagram.com/oembed?format=json&url=https://instagram.com/p/vYx78PoxRf/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Language:
      - en
      Location:
      - https://api.instagram.com/publicapi/oembed/?url=https%3A%2F%2Finstagram.com%2Fp%2FvYx78PoxRf%2F&format=json
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 15:57:21 GMT
- request:
    method: get
    uri: https://api.instagram.com/publicapi/oembed/?format=json&url=https://instagram.com/p/vYx78PoxRf/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Language:
      - en
      Location:
      - https://www.instagram.com/publicapi/oembed/?url=https://instagram.com/p/vYx78PoxRf/&format=json
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 15:57:21 GMT
- request:
    method: get
    uri: https://www.instagram.com/publicapi/oembed/?format=json&url=https://instagram.com/p/vYx78PoxRf/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Language:
      - en
      Location:
      - https://api.instagram.com/oembed/?url=https://instagram.com/p/vYx78PoxRf/&format=json
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 15:57:21 GMT
- request:
    method: get
    uri: https://api.instagram.com/oembed/?format=json&url=https://instagram.com/p/vYx78PoxRf/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"provider_url": "https://www.instagram.com", "media_id": "853651752801735775_3292244",
        "author_name": "thelimerentfox", "height": null, "thumbnail_url": "https://scontent.cdninstagram.com/t51.2885-15/e15/915706_724481087621112_1586087020_n.jpg?ig_cache_key=ODUzNjUxNzUyODAxNzM1Nzc1.2",
        "thumbnail_width": 640, "thumbnail_height": 640, "provider_name": "Instagram",
        "title": "Thanks to our #Airbnb host @genyak for the recommendation to visit
        #huntlibrary during our #makerspace #roadtrip | #chromic #hyperlapse #robotics
        #ncsu @ncstate @ncsulibraries #and #ampersand #ampersandandco #ampersandhu
        #ampersandnyc", "html": "\u003cblockquote class=\"instagram-media\" data-instgrm-captioned
        data-instgrm-version=\"6\" style=\" background:#FFF; border:0; border-radius:3px;
        box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin:
        1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% -
        2px); width:calc(100% - 2px);\"\u003e\u003cdiv style=\"padding:8px;\"\u003e
        \u003cdiv style=\" background:#F8F8F8; line-height:0; margin-top:40px; padding:50%
        0; text-align:center; width:100%;\"\u003e \u003cdiv style=\" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4h[...]
[...]
- request:
    method: get
    uri: https://api.instagram.com/oembed?format=json&url=http://instagram.com/p/ZA1L0nINXi/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Language:
      - en
      Location:
      - https://api.instagram.com/publicapi/oembed/?url=http%3A%2F%2Finstagram.com%2Fp%2FZA1L0nINXi%2F&format=json
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 15:57:22 GMT
- request:
    method: get
    uri: https://api.instagram.com/publicapi/oembed/?format=json&url=http://instagram.com/p/ZA1L0nINXi/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Language:
      - en
      Location:
      - https://www.instagram.com/publicapi/oembed/?url=http://instagram.com/p/ZA1L0nINXi/&format=json
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 15:57:22 GMT
- request:
    method: get
    uri: https://www.instagram.com/publicapi/oembed/?format=json&url=http://instagram.com/p/ZA1L0nINXi/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Language:
      - en
      Location:
      - https://api.instagram.com/oembed/?url=http://instagram.com/p/ZA1L0nINXi/&format=json
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 15:57:22 GMT
- request:
    method: get
    uri: https://api.instagram.com/oembed/?format=json&url=http://instagram.com/p/ZA1L0nINXi/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Language:
      - en
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: No Media Match
  recorded_at: Tue, 10 May 2016 15:57:23 GMT
- request:
    method: get
    uri: https://api.instagram.com/oembed?format=json&url=http://instagram.com/p/k5LhuktiSC/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Language:
      - en
      Location:
      - https://api.instagram.com/publicapi/oembed/?url=http%3A%2F%2Finstagram.com%2Fp%2Fk5LhuktiSC%2F&format=json
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 15:57:23 GMT
- request:
    method: get
    uri: https://api.instagram.com/publicapi/oembed/?format=json&url=http://instagram.com/p/k5LhuktiSC/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Language:
      - en
      Location:
      - https://www.instagram.com/publicapi/oembed/?url=http://instagram.com/p/k5LhuktiSC/&format=json
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 15:57:23 GMT
- request:
    method: get
    uri: https://www.instagram.com/publicapi/oembed/?format=json&url=http://instagram.com/p/k5LhuktiSC/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Language:
      - en
      Location:
      - https://api.instagram.com/oembed/?url=http://instagram.com/p/k5LhuktiSC/&format=json
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 15:57:23 GMT
- request:
    method: get
    uri: https://api.instagram.com/oembed/?format=json&url=http://instagram.com/p/k5LhuktiSC/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"provider_url": "https://www.instagram.com", "media_id": "664613116276253826_1128023464",
        "author_name[...]
- request:
    method: get
    uri: https://api.instagram.com/oembed?format=json&url=http://instagram.com/p/R0NyCsK_xf/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Language:
      - en
      Location:
      - https://api.instagram.com/publicapi/oembed/?url=http%3A%2F%2Finstagram.com%2Fp%2FR0NyCsK_xf%2F&format=json
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 18:57:33 GMT
- request:
    method: get
    uri: https://api.instagram.com/publicapi/oembed/?format=json&url=http://instagram.com/p/R0NyCsK_xf/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Language:
      - en
      Location:
      - https://www.instagram.com/publicapi/oembed/?url=http://instagram.com/p/R0NyCsK_xf/&format=json
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 18:57:33 GMT
- request:
    method: get
    uri: https://www.instagram.com/publicapi/oembed/?format=json&url=http://instagram.com/p/R0NyCsK_xf/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Language:
      - en
      Location:
      - https://api.instagram.com/oembed/?url=http://instagram.com/p/R0NyCsK_xf/&format=json
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 May 2016 18:57:33 GMT
- request:
    method: get
    uri: https://api.instagram.com/oembed/?format=json&url=http://instagram.com/p/R0NyCsK_xf/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"provider_url": "https://www.instagram.com", "media_id": "320942086917192799_244467814",
        "author_name"[...]
[...]
- request:
    method: get
    uri: https://api.instagram.com/oembed/?format=json&url=http://instagram.com/p/ZA1L0nINXi/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Language:
      - en
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: No Media Match
  recorded_at: Tue, 10 May 2016 18:59:53 GMT
recorded_with: VCR 3.0.1
