---
http_interactions:
- request:
    method: get
    uri: http://api.instagram.com/oembed?format=json&url=http://instagram.com/p/R82ycNoNfn/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"provider_url":"http:\/\/instagram.com\/","media_id":"323374234042685415_31727100","title":"Bubble
        bubble...","url":"http:\/\/distilleryimage3.ak.instagram.com\/644f52a02d2f11e2b55e22000a9f09fb_7.jpg","author_name":"cazzerson","height":612,"width":612,"version":"1.0","author_url":"http:\/\/instagram.com\/cazzerson","author_id":31727100,"type":"photo","provider_name":"Instagram"}'
  recorded_at: Thu, 27 Feb 2014 19:42:54 GMT
- request:
    method: get
    uri: http://api.instagram.com/oembed?format=json&url=http://instagram.com/p/ZA1L0nINXi/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Language:
      - en
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: No Media Match
  recorded_at: Thu, 27 Feb 2014 19:42:54 GMT
- request:
    method: get
    uri: http://api.instagram.com/oembed?format=json&url=http://instagram.com/p/k5LhuktiSC/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"provider_url":"http:\/\/instagram.com\/","media_id":"664613116276253826_1128023464","title":"six
        #hunttesting","url":"http:\/\/distilleryimage8.ak.instagram.com\/28b09b209f2811e38e831293e346cce0_8.jpg","author_name":"bddnc","height":640,"width":640,"version":"1.0","author_url":"http:\/\/instagram.com\/bddnc","author_id":1128023464,"type":"photo","provider_name":"Instagram"}'
  recorded_at: Thu, 27 Feb 2014 19:42:54 GMT
[...]
- request:
    method: get
    uri: http://api.instagram.com/oembed?format=json&url=http://instagram.com/p/R0NyCsK_xf/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"provider_url":"http:\/\/instagram.com\/","media_id":"320942086917192799_244467814","title":"Tethered","url":"http:\/\/distilleryimage7.ak.instagram.com\/55dcf0ba2a8c11e29cc822000a1f96e3_7.jpg","author_name":"corylown","height":612,"width":612,"version":"1.0","author_url":"http:\/\/instagram.com\/corylown","author_id":244467814,"type":"photo","provider_name":"Instagram"}'
  recorded_at: Thu, 27 Feb 2014 19:42:54 GMT
recorded_with: VCR 2.7.0
