---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/huntlibrary/media/recent.json?client_id=YOUR_CLIENT_ID&count=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4990'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_max_tag_id":"1018857325132090253","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1018857325132090253","next_min_id":"1035405456483341508","min_tag_id":"1035405456483341508","next_url":"https:\/\/api.instagram.com\/v1\/tags\/huntlibrary\/media\/recent?count=100\u0026client_id=YOUR_CLIENT_ID\u0026max_tag_id=1018857325132090253"},"meta":{"code":200},"data":[{"attribution":null,"tags":["huntlibrary","adcancedenergy"],"location":null,"comments":{"count":0,"data":[]},"filter":"Lark","created_time":"1437649970","link":"https:\/\/instagram.com\/p\/5ef8bgMNTE\/","likes":{"count":3,"data":[{"username":"padachagi","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_48905752_75sq_1342286340.jpg","id":"48905752","full_name":""},{"username":"vxromero","profile_picture":"http:\/\/photos-c.ak.instagram.com\/hphotos-ak-xpt1\/t51.2885-19\/s150x150\/1963160_1607432816211642_1449402807_a.jpg","id":"217059771","full_name":"Veronica
        Romero"},{"username":"superyummywonton","profile_picture":"http:\/\/photos-f.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/11378301_495362100629741_457767507_a.jpg","id":"314902156","full_name":"Tan
        Tran"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s320x320\/e15\/11375205_464888317024692_1236437814_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s150x150\/e15\/11375205_464888317024692_1236437814_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-15\/s640x640\/e35\/sh0.08\/11375205_464888317024692_1236437814_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1437649970","text":"Morning
        conference #adcancedenergy #huntlibrary","from":{"username":"andymandance","profile_picture":"http:\/\/photos-h.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/11381863_1595043887419039_1005991644_a.jpg","id":"999238124","full_name":"Andy
        Carlson"},"id":"1035405458546939492"},"type":"image","id":"1035405456483341508_999238124","user":{"username":"andymandance","profile_picture":"http:\/\/photos-h.ak.instagram.com\/hphotos-ak-xaf1\/t51.2885-19\/11381863_1595043887419039_1005991644_a.jpg","id":"999238124","full_name":"Andy
        Carlson"}},{"attribution":null,"tags":["wolfpack","raleigh","exploreraleigh","huntlibrary","robot","bookbot"],"location":null,"comments":{"count":0,"data":[]},"filter":"Lo-fi","created_time":"1437571643","link":"https:\/\/instagram.com\/p\/5cKi9mBeOt\/","likes":{"count":1,"data":[{"username":"melissa[...]
