---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/huntlibrary/media/recent.json?access_token=YOUR_ACCESS_TOKEN_FROM_INSTAGRAM_OAUTH&count=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="YOUR_ACCESS_TOKEN_FROM_INSTAGRAM_OAUTH"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4998'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_max_tag_id":"1125566280076892327","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1125566280076892327","next_min_id":"1139541098962721576","min_tag_id":"1139541098962721576","next_url":"https:\/\/api.instagram.com\/v1\/tags\/huntlibrary\/media\/recent?access_token=YOUR_ACCESS_TOKEN_FROM_INSTAGRAM_OAUTH\u0026count=100\u0026max_tag_id=1125566280076892327"},"meta":{"code":200},"data":[{"attribution":null,"tags":["huntlibrary","ishouldbestudying"],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1450063906","link":"https:\/\/www.instagram.com\/p\/_QdpeKoZso\/","likes":{"count":42,"data":[{"username":"inez_vera33","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/12353835_1528022300825379_1025276410_a.jpg","id":"1110946484","full_name":"Inez
        Vera\ud83c\udf38"},{"username":"victorof","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/s150x150\/11917845_1639871979606708_442595863_a.jpg","id":"1117870010","full_name":"Victor
        Foster"},{"username":"its_littlebilly","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/11049171_917721414938702_905130410_a.jpg","id":"1497930628","full_name":"Javyn
        Erwing"},{"username":"og.foxygrandpa","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xtf1\/t51.2885-19\/s150x150\/12338743_921424347893671_612700411_a.jpg","id":"1568995822","full_name":"Emily
        Hansen\ud83c\udf37"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xtp1\/t51.2885-15\/s320x320\/e35\/12331729_1645066442420265_573510098_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xtp1\/t51.2885-15\/s150x150\/e35\/12331729_1645066442420265_573510098_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xtp1\/t51.2885-15\/s640x640\/sh0.08\/e35\/12331729_1645066442420265_573510098_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1450063906","text":"best
        view on campus at #HuntLibrary #ishouldbestudying","from":{"username":"chelseaabad","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xap1\/t51.2885-19\/11330596_1564665453795914_1079182921_a.jpg","id":"270602149","full_name":"Chelsea"},"id":"1139541101227645928"},"user_has_liked":false,"id":"1139541098962721576_270602149","user":{"username":"chelseaabad","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xap1\/t51.2885-19\/11330596_1564665453795914_1079182921_a.jpg","id":"270602149","full_name":"Chelsea"}},{"attribution":null,"tags":["ncsu","huntlibrary","lakeraleigh"],"type":"image","location":{"latitude":35.769312721,"name":"James
        B. Hunt, Jr. Library","longitude":-78.676562557,"id":908741122},"comments":{"count":0,"data":[]},"filter":"Mayfair","created_time":"1450029224","link":"https:\/\/www.instagram.com\/p\/_Pbfz6qi2b\/","likes":{"count":16,"data":[{"username":"ui_storyteller_through_lens","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xpf1\/t51.2885-19\/s150x150\/12353934_205961403074906_1669396166_a.jpg","id":"1187794784","full_name":"Yudhajit
        Bhattacharjee"},{"username":"debashish13","profile_picture":"http:\/\/scontent.cdni[...]
