---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/huntlibrary/media/recent.json?access_token=YOUR_ACCESS_TOKEN_FROM_INSTAGRAM_OAUTH&count=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="YOUR_ACCESS_TOKEN_FROM_INSTAGRAM_OAUTH"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4998'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"next_max_tag_id": "AQCNWtI7PspLgK5WpYwPA1Lv8-9DX49zLKhq-p_JanwNISK1ykrSHNFNs2I8qZ5r-G6U-Ld3PIf3ItzTI6xqCQqbcCrl5j2NATPswH2iSHqdgSCfru4WOQNfPC-x6LcIA48",
        "deprecation_warning": "next_max_id and min_id are deprecated for this endpoint;
        use min_tag_id and max_tag_id instead", "next_max_id": "AQCNWtI7PspLgK5WpYwPA1Lv8-9DX49zLKhq-p_JanwNISK1ykrSHNFNs2I8qZ5r-G6U-Ld3PIf3ItzTI6xqCQqbcCrl5j2NATPswH2iSHqdgSCfru4WOQNfPC-x6LcIA48",
        "next_min_id": "AQAOEMfHNvxdNMVMDFMQ2-ssIsUVcCItenBHoaZVfQbggxcaU2SBgnrQJPfrEXIKZvKfz9-Zw6sxZd-OwVeV3jRieRPVqUyJVac8zdbTzXP-KSMZtIOwFmp59Fu6vaIGIxs",
        "min_tag_id": "AQAOEMfHNvxdNMVMDFMQ2-ssIsUVcCItenBHoaZVfQbggxcaU2SBgnrQJPfrEXIKZvKfz9-Zw6sxZd-OwVeV3jRieRPVqUyJVac8zdbTzXP-KSMZtIOwFmp59Fu6vaIGIxs",
        "next_url": "https://api.instagram.com/v1/tags/huntlibrary/media/recent?access_token=YOUR_ACCESS_TOKEN_FROM_INSTAGRAM_OAUTH\u0026count=100\u0026max_tag_id=AQCNWtI7PspLgK5WpYwPA1Lv8-9DX49zLKhq-p_JanwNISK1ykrSHNFNs2I8qZ5r-G6U-Ld3PIf3ItzTI6xqCQqbcCrl5j2NATPswH2iSHqdgSCfru4WOQNfPC-x6LcIA48"},
        "meta": {"code": 200}, "data": [{"attribution": null, "tags": ["window", "huntlibrary",
        "sky", "reflection"], "type": "image", "location": null, "comments": {"count":
        0, "data": []}, "filter": "Normal", "created_time": "1462844706", "link":
        "https://www.instagram.com/p/BFNXFsMsQqh/", "likes": {"count": 10, "data":
        [{"username": "giuli.degiuseppe", "profile_picture": "http://scontent.cdninstagram.com/t51.2885-19/s150x150/12530690_1590360257922584_1015649571_a.jpg",
        "id": "1474521713", "full_name": "\u2741 \u2742 \u2741 \u2742 \u2741 \u2742
        \u2741"}, {"username": "devashreebrahme", "profile_picture": "http://scontent.cdninstagram.com/t51.2885-19/10598257_352573841577097_1711021229_a.jpg",
        "id": "1445015596", "full_name": "Devashree Brahme"}, {"username": "swakrit",
        "profile_picture": "http://scontent.cdninstagram.com/t51.2885-19/s150x150/11371084_156083214735679_1029965357_a.jpg",
        "id": "738213946", "full_name": "Deepti Bhadbhade Jain"}, {"username": "amol_nbys15",
        "profile_picture": "http://scontent.cdninstagram.com/t51.2885-19/s150x150/13102350_1770789373133649_1538109320_a.jpg",
        "id": "202910247", "full_name": "Amol Bhapkar"}]}, "images": {"low_resolution":
        {"url": "https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/13118071_1209495962402873_410423615_n.jpg?ig_cache_key=MTI0Njc1NDIxNzk3NjIwMzkzNw%3D%3D.2.l",
        "width": 320, "height": 320}, "thumbnail": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/c117.0.845.845/13130066_473373962858678_209567428_n.jpg?ig_cache_key=MTI0Njc1NDIxNzk3NjIwMzkzNw%3D%3D.2.c",
        "width": 150, "height": 150}, "standard_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13118071_1209495962402873_410423615_n.jpg?ig_cache_key=MTI0Njc1NDIxNzk3NjIwMzkzNw%3D%3D.2.l",
        "width": 640, "height": 640}}, "users_in_photo": [], "caption": {"created_time":
        "1462844706", "text": "#reflection #huntlibrary #sky #window", "from": {"username":
        "cerulean_green", "profile_picture": "http://scontent.cdninstagram.com/t51.2885-19/11311069_1609335629313991_1809029982_a.jpg",
        "id": "1042213137", "full_name": "vai"}, "id": "17847355489111800"}, "user_has_liked":
        false, "id": "1246754217976203937_1042213137", "user": {"username": "cerulean_green",
        "profile_picture": "http://scontent.cdninstagram.com/t51.2885-19/11311069_1609335629313991_1809029982_a.jpg",
        "id": "1042213137", "full_name": "vai"}}, {"attribution": null, "tags": ["centennialcampus",
        "ncsu", "huntlibrary", "wolfpack", "magnificentstructure"], "type": "image",
        "location": null, "comments": {"count": 1, "data": [{"created_time": "1462851220",
        "text": "Nh\u00ecn c\u00e1i th\u01b0 vi\u1ec7n \u0111\u00e3 thi\u[...]
