---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/dhhill/media/recent.json?access_token=YOUR_ACCESS_TOKEN_FROM_INSTAGRAM_OAUTH&count=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="YOUR_ACCESS_TOKEN_FROM_INSTAGRAM_OAUTH"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_max_tag_id":"1015413177263879256","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1015413177263879256","next_min_id":"1137827770297479986","min_tag_id":"1137827770297479986","next_url":"https:\/\/api.instagram.com\/v1\/tags\/dhhill\/media\/recent?access_token=YOUR_ACCESS_TOKEN_FROM_INSTAGRAM_OAUTH\u0026count=100\u0026max_tag_id=1015413177263879256"},"meta":{"code":200},"data":[{"attribution":null,"tags":["ncstate","dhhill","library"],"type":"image","location":{"latitude":35.7875366,"name":"D.
        H. Hill Library","longitude":-78.669075,"id":74239},"comments":{"count":0,"data":[]},"filter":"Lark","created_time":"1449859661","link":"https:\/\/www.instagram.com\/p\/_KYFQgJ_My\/","likes":{"count":10,"data":[{"username":"robynbuchanan7","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xap1\/t51.2885-19\/s150x150\/12132729_1667792580145081_1871272279_a.jpg","id":"183541762","full_name":"Robyn
        Buchanan"},{"username":"ashleypchen","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xat1\/t51.2885-19\/11352036_864611936926338_248390141_a.jpg","id":"31183828","full_name":"Ashley
        Chen"},{"username":"p_gente","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xfp1\/t51.2885-19\/11325288_1067647956596063_1019496797_a.jpg","id":"51435653","full_name":"Paula
        Gordon"},{"username":"findingnyima","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xta1\/t51.2885-19\/s150x150\/11886999_166949470303982_1099247723_a.jpg","id":"190403543","full_name":""}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xpa1\/t51.2885-15\/s320x320\/e35\/12277465_434678710059128_1021231654_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xpa1\/t51.2885-15\/s150x150\/e35\/12277465_434678710059128_1021231654_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xpa1\/t51.2885-15\/s640x640\/sh0.08\/e35\/12277465_434678710059128_1021231654_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1449859661","text":"It''s
        bittersweet to say good bye to the library. It''s been such a great year and
        a half! #dhhill #ncstate #library","from":{"username":"kepisano93","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xtp1\/t51.2885-19\/s150x150\/11421898_1005063029544160_1031509058_a.jpg","id":"327912555","full_name":"Katie
        Pisano"},"id":"1137827772738564584"},"user_has_liked":false,"id":"1137827770297479986_327912555","user":{"username":"kepisano93","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xtp1\/t51.2885-19\/s150x150\/11421898_1005063029544160_1031509058_a.jpg","id":"327912555","full_name":"Katie
        Pisano"}},{"attribution":null,"tags":["finalsweek","dhhill","collegestruggles"],"type":"image","location":null,"comments":{"count":0,"data":[]},"filter":"Hefe","created_time":"1449630076","link":"https:\/\/www.instagram.com\/p\/_DiLrGBJ9w\/","likes":{"count":16,"data":[{"username":"kaitlyn_rene[...]
