---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/dhhill/media/recent.json?client_id=YOUR_CLIENT_ID&count=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4988'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_max_tag_id":"974221911037340543","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"974221911037340543","next_min_id":"1034976979097095349","min_tag_id":"1034976979097095349","next_url":"https:\/\/api.instagram.com\/v1\/tags\/dhhill\/media\/recent?count=100\u0026client_id=YOUR_CLIENT_ID\u0026max_tag_id=974221911037340543"},"meta":{"code":200},"data":[{"attribution":null,"tags":["librarylife","media","dhhill"],"location":null,"comments":{"count":2,"data":[{"created_time":"1437600298","text":"We
        just had those this morning! I said the same thing!","from":{"username":"theplumumbrella","profile_picture":"http:\/\/photos-f.ak.instagram.com\/hphotos-ak-xfa1\/t51.2885-19\/11296703_536436589830461_1003875754_a.jpg","id":"1208686052","full_name":"Emily
        Schmidt"},"id":"1034988778009792493"},{"created_time":"1437601049","text":"@theplumumbrella
        Soooo cool!!","from":{"username":"emyra_myrddin","profile_picture":"http:\/\/photos-d.ak.instagram.com\/hphotos-ak-xfp1\/t51.2885-19\/10706664_1460580984229395_985980209_a.jpg","id":"18369738","full_name":"Leslie
        Shaip"},"id":"1034995080656195020"}]},"filter":"Slumber","created_time":"1437598892","likes":{"count":7,"data":[{"username":"glitterbyjules","profile_picture":"http:\/\/photos-h.ak.instagram.com\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11427395_1663342273880471_2088600621_a.jpg","id":"51333060","full_name":"Jules
        F"},{"username":"dtbryde","profile_picture":"http:\/\/photos-d.ak.instagram.com\/hphotos-ak-xfp1\/t51.2885-19\/10475109_602958833153779_834782620_a.jpg","id":"17417941","full_name":"Danielle
        Bryde"},{"username":"caraangela","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_5955358_75sq_1322512940.jpg","id":"5955358","full_name":"caraangela"},{"username":"gronke","profile_picture":"http:\/\/photos-b.ak.instagram.com\/hphotos-ak-xpf1\/t51.2885-19\/10261034_781480781940345_1805185908_a.jpg","id":"30729853","full_name":"Matthew
        Dylan Gronke"}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xpt1\/t51.2885-15\/s320x320\/e15\/928745_1684639671764768_1008679322_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xpt1\/t51.2885-15\/s150x150\/e15\/928745_1684639671764768_1008679322_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xpt1\/t51.2885-15\/s640x640\/e35\/sh0.08\/928745_1684639671764768_1008679322_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1437598892","text":"These
        discs are in a makeshift film reel canister. How precious is that?! #dhhill
        #media #librarylife","from":{"username":"emyra_myrddin","profile_picture":"http:\/\/photos-d.ak.instagram.com\/hphotos-ak-xfp1\/t51.2885-19\/10706664_1460580984229395_985980209_a.jpg","id":"18369738","full_name":"Leslie
        Shaip"},"id":"1034976981177469972"},"type":"image","id":"1034976979097095349_18369738","user":{"username":"emyra_myrddin","profile_picture":"http:\/\/photos-d.ak.instagram.com\/hphotos-ak-xfp1\/t51.2885-19\/10706664_1460580984229395_985980209_a.jpg","id":"18369738","full_name":"Leslie
        Shaip"}},{"attribution":null,"tags":["librarylife","dhhill","oldbones","skeleton"],"location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1437495593","link":"https:\/\/instagram.com\/p\/5Z5fiMSgzU\/","likes":{"count":10,"data":[{"username":"mandycobbs","profile_picture":"http:\/\/photos-c.ak.instagram.com\/hphotos-ak-xpa1\/t51.2885-19\/10413971_524898590971922_826849867_a.jpg","id":"32138704","full_name":"Mandy
        Cobbs"},{"username":"glitterbyjules","profile_picture":"http:\/\/photos-h.ak.instagram.com\/hphotos-ak-xfa1\/t51.2885-19\/s150x150\/11427395_1663342273880471_2088600621_a.jpg","id":"51333060","full_name":"Jules
        F"},{"username"[...]
