---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/huntlibrary/media/recent.json?client_id=YOUR_CLIENT_ID&count=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_max_tag_id":"1384678316538","deprecation_warning":"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead","next_max_id":"1384678316538","next_min_id":"1385072231973","min_tag_id":"1385072231973","next_url":"https:\/\/api.instagram.com\/v1\/tags\/huntlibrary\/media\/recent?count=100\u0026client_id=YOUR_CLIENT_ID\u0026max_tag_id=1384678316538"},"meta":{"code":200},"data":[{"attribution":null,"tags":["huntlibrary","touringthefmily"],"location":{"latitude":35.76932297,"name":"James
        B. Hunt Jr. Library","longitude":-78.676464558,"id":5139502},"comments":{"count":0,"data":[]},"filter":"Mayfair","created_time":"1385043368","link":"http:\/\/instagram.com\/p\/g-s0GCAciQ\/","likes":{"count":10,"data":[{"username":"dani_bi90","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_16923954_75sq_1384982514.jpg","id":"16923954","full_name":"Daniele
        Bianchi"},{"username":"amfranco","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_2549826_75sq_1367529874.jpg","id":"2549826","full_name":"Andre
        Franco"},{"username":"guisimoni","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_5091182_75sq_1364700235.jpg","id":"5091182","full_name":"Guilherme
        Simoni"},{"username":"anafendel","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_350605597_75sq_1377662494.jpg","id":"350605597","full_name":"Ana
        Fendel"}]},"images":{"low_resolution":{"url":"http:\/\/distilleryimage0.s3.amazonaws.com\/7762b2fc52b711e38f8e0e917fe276d3_6.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/distilleryimage0.s3.amazonaws.com\/7762b2fc52b711e38f8e0e917fe276d3_5.jpg","width":150,"height":150},"standard_resolution":{"url":"http:\/\/distilleryimage0.s3.amazonaws.com\/7762b2fc52b711e38f8e0e917fe276d3_8.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1385043431","text":"Two
        pieces of art #huntlibrary #touringthefmily","from":{"username":"btfav","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_38410113_75sq_1380326386.jpg","id":"38410113","full_name":"Bruno
        Favero"},"id":"594109825684720086"},"type":"image","id":"594109294794885264_38410113","user":{"username":"btfav","website":"","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_38410113_75sq_1380326386.jpg","full_name":"Bruno
        Favero","bio":"","id":"38410113"}},{"attribution":null,"tags":["huntlibrary"],"location":null,"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1384991402","link":"http:\/\/instagram.com\/p\/g9Jshls9TW\/","likes":{"count":0,"data":[]},"images":{"low_resolution":{"url":"http:\/\/distilleryimage2.s3.amazonaws.com\/78ebec84523e11e3a01312fc9df32403_6.jpg","width":306,"height":306},"thumbnail":{"url":"http:\/\/distilleryimage2.s3.amazonaws.com\/78ebec84523e11e3a01312fc9df32403_5.jpg","width":150,"[...]
