---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/289998623568090948_31727100.json?access_token=YOUR_ACCESS_TOKEN_FROM_INSTAGRAM_OAUTH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="YOUR_ACCESS_TOKEN_FROM_INSTAGRAM_OAUTH"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":3,"data":[{"created_time":"1353016068","text":"This
        is a test comment. Lorem ipsum dolor sit amet, risus parturient illo quaerat
        euismod integer, bibendum tempus, ligula fringilla leo purus, sed cursus nibh
        vestibulum donec, suscipit amet morbi. Lectus ultrices cursus leo justo elit
        lorem, gravida aliquam non dis posuere luctus ut, accumsan in mauris auctor.
        Iaculis amet, ornare dolor sed sit, lectus neque pede laoreet. Diam dignissim
        amet eu, lectus quis fringilla nulla in, elit quis dis soll[...]
