---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/dhhill/media/recent.json?access_token=YOUR_ACCESS_TOKEN_FROM_INSTAGRAM_OAUTH&count=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="YOUR_ACCESS_TOKEN_FROM_INSTAGRAM_OAUTH"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4997'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"next_max_tag_id": "AQAtf6s8TnpqTDam-ZS6X-QQ8ORnG4y6Y3WrESvRLvrLeq8sQOKjo3XUy6mpgS-xXuAeklJaIYCLo9rSAzXrwzSNoV79C_PqKB7StyO5LN03lMSiQVhZW9smsLBYhCCg3yA",
        "deprecation_warning": "next_max_id and min_id are deprecated for this endpoint;
        use min_tag_id and max_tag_id instead", "next_max_id": "AQAtf6s8TnpqTDam-ZS6X-QQ8ORnG4y6Y3WrESvRLvrLeq8sQOKjo3XUy6mpgS-xXuAeklJaIYCLo9rSAzXrwzSNoV79C_PqKB7StyO5LN03lMSiQVhZW9smsLBYhCCg3yA",
        "next_min_id": "AQCGW9C1JfFxVf6ZDdtQE3IqsCUwRdLr_afYooDLm-KfTYo1vCmgcZSsRCefyUxjXohnFQ2V4q3iTHHhbmSHQed0jvYrn6D7UeYdfODhZNRQhm8-C1mLP6TfoGmrr-XaIFQ",
        "min_tag_id": "AQCGW9C1JfFxVf6ZDdtQE3IqsCUwRdLr_afYooDLm-KfTYo1vCmgcZSsRCefyUxjXohnFQ2V4q3iTHHhbmSHQed0jvYrn6D7UeYdfODhZNRQhm8-C1mLP6TfoGmrr-XaIFQ",
        "next_url": "https://api.instagram.com/v1/tags/dhhill/media/recent?access_token=YOUR_ACCESS_TOKEN_FROM_INSTAGRAM_OAUTH\u0026count=100\u0026max_tag_id=AQAtf6s8TnpqTDam-ZS6X-QQ8ORnG4y6Y3WrESvRLvrLeq8sQOKjo3XUy6mpgS-xXuAeklJaIYCLo9rSAzXrwzSNoV79C_PqKB7StyO5LN03lMSiQVhZW9smsLBYhCCg3yA"},
        "meta": {"code": 200}, "data": [{"attribution": null, "tags": ["jjspakow",
        "librarylife", "blanket", "nofilter", "libraryblanket", "doctorwho", "dhhill"],
        "type": "image", "location": null, "comments": {"count": 0, "data": []}, "filter":
        "Clarendon", "created_time": "1462891405", "link": "https://www.instagram.com/p/BFOwKUDyg4M/",
        "likes": {"count": 3, "data": [{"username": "lisashirafuji", "profile_picture":
        "http://scontent.cdninstagram.com/t51.2885-19/10890616_637235666404607_284537072_a.jpg",
        "id": "30432540", "full_name": "Lisa Shirafuji"}, {"username": "anastasiya.morgunova.s.h.k.t",
        "profile_picture": "http://scontent.cdninstagram.com/t51.2885-19/13118343_1619022285085036_1891634504_a.jpg",
        "id": "3210510947", "full_name": "\u0410\u043d\u0430\u0441\u0442\u0430\u0441\u0438\u044f
        \u041c\u043e\u0440\u0433\u0443\u043d\u043e\u0432\u0430"}, {"username": "karmacowboy",
        "profile_picture": "http://scontent.cdninstagram.com/t51.2885-19/s150x150/13129955_910499059077260_815651221_a.jpg",
        "id": "178989691", "full_name": "Mette"}]}, "images": {"low_resolution": {"url":
        "https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/13129917_1183109365062676_808459778_n.jpg?ig_cache_key=MTI0NzE0NTk2MTc5MzkxNjQyOA%3D%3D.2",
        "width": 320, "height": 320}, "thumbnail": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/13129917_1183109365062676_808459778_n.jpg?ig_cache_key=MTI0NzE0NTk2MTc5MzkxNjQyOA%3D%3D.2",
        "width": 150, "height": 150}, "standard_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13129917_1183109365062676_808459778_n.jpg?ig_cache_key=MTI0NzE0NTk2MTc5MzkxNjQyOA%3D%3D.2",
        "width": 640, "height": 640}}, "users_in_photo": [], "caption": {"created_time":
        "1462891405", "text": "Upgrayed! #jjspakow brought me a blanket to keep me
        warm. The Daleks will exterminate the heat. #doctorwho #blanket #dhhill #librarylife
        #libraryblanket #dhhill #nofilter", "from": {"username": "emyra_myrddin",
        "profile_picture": "http://scontent.cdninstagram.com/t51.2885-19/10706664_1460580984229395_985980209_a.jpg",
        "id": "18369738", "full_name": "Leslie Shaip"}, "id": "17847379474103490"},
        "user_has_liked": false, "id": "1247145961793916428_18369738", "user": {"username":
        "emyra_myrddin", "profile_picture": "http://scontent.cdninstagram.com/t51.2885-19/10706664_1460580984229395_985980209_a.jpg",
        "id": "18369738", "full_name": "Leslie Shaip"}}, {"attribution": null, "tags":
        ["librarylife", "librarysweaters", "dhhill", "coldsummer"], "type": "image",
        "location": null, "comments": {"count": 0, "data": []}, "filter": "Juno",
        "created_time": "1462884479",
        "likes": {"count": 6, "data": [{"username": "theplum[...]
