---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/tags/dhhill/media/recent.json?client_id=YOUR_CLIENT_ID&count=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
    body:
      encoding: UTF-8
      string: "{\"pagination\":{\"next_max_tag_id\":\"1391437790056\",\"deprecation_warning\":\"next_max_id
        and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id
        instead\",\"next_max_id\":\"1391437790056\",\"next_min_id\":\"1395249223340\",\"min_tag_id\":\"1395249223340\",\"next_url\":\"https:\\/\\/api.instagram.com\\/v1\\/tags\\/dhhill\\/media\\/recent?count=100\\u0026client_id=YOUR_CLIENT_ID\\u0026max_tag_id=1391437790056\"},\"meta\":{\"code\":200},\"data\":[{\"attribution\":null,\"tags\":[\"dhhill\",\"dejavu\",\"ncsu\",\"study\",\"sleepy\",\"library\",\"toearly\"],\"location\":{\"latitude\":35.7874492,\"longitude\":-78.670203},\"comments\":{\"count\":0,\"data\":[]},\"filter\":\"X-Pro
        II\",\"created_time\":\"1395224023\",\"link\":\"http:\\/\\/instagram.com\\/p\\/luG3xjMDTx\\/\",\"likes\":{\"count\":0,\"data\":[]},\"images\":{\"low_resolution\":{\"url\":\"http:\\/\\/origincache-ash.fbcdn.net\\/1389162_1389125217976727_1514138821_a.jpg\",\"width\":306,\"height\":306},\"thumbnail\":{\"url\":\"http:\\/\\/origincache-ash.fbcdn.net\\/1389162_1389125217976727_1514138821_s.jpg\",\"width\":150,\"height\":150},\"standard_resolution\":{\"url\":\"http:\\/\\/origincache-ash.fbcdn.net\\/1389162_1389125217976727_1514138821_n.jpg\",\"width\":640,\"height\":640}},\"users_in_photo\":[],\"caption\":{\"created_time\":\"1395224023\",\"text\":\"Deja
        Vu at #DHHill why must I be here so early... #ncsu #sleepy #toearly #library
        #study #dejavu\",\"from\":{\"username\":\"crippled_unicorn\",\"profile_picture\":\"http:\\/\\/images.ak.instagram.com\\/profiles\\/profile_48183084_75sq_1387559654.jpg\",\"id\":\"48183084\",\"full_name\":\"Nick\"},\"id\":\"679510815118734619\"},\"type\":\"image\",\"id\":\"679510814833521905_48183084\",\"user\":{\"username\":\"crippled_unicorn\",\"website\":\"\",\"profile_picture\":\"http:\\/\\/images.ak.instagram.com\\/profiles\\/profile_48183084_75sq_1387559654.jpg\",\"full_name\":\"Nick\",\"bio\":\"\",\"id\":\"48183084\"}},{\"attribution\":null,\"tags\":[\"ncsulibraries\",\"dhhill\",\"peopleofsparks\",\"divergent\"],\"location\":{\"latitude\":35.787617182,\"longitude\":-78.669577413},\"comments\":{\"count\":3,\"data\":[{\"created_time\":\"1395170863\",\"text\":\"That
        book doh...\",\"from\":{\"username\":\"jake_ginn\",\"profile_picture\":\"http:\\/\\/images.ak.instagram.com\\/profiles\\/profile_31457124_75sq_1395156024.jpg\",\"id\":\"31457124\",\"full_name\":\"Jake
        Ginn\"}[...]
