@import 'breakpoint/sass/framework';

// Styles for iframe view
body.lentil-images_iframe {
  background: none;
  line-height: 0;
  margin: 0;
}

.lentil-images_iframe {
  img {
    margin: 0;
  }

  #iframe-wrapper {
    width: 100%;
    overflow: hidden;
  }

  .iframe-tile {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}